In [1]:
import pandas as pd

In [3]:
df_books =pd.read_csv('https://raw.githubusercontent.com/sanketchavan5595/EDA-on-bestselling-books-on-Amazon-/main/bestsellers%20with%20categories.csv')
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [5]:
df_books[0:5] #slice

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [6]:
df_books['Author'] #extraer columna

0                      JJ Smith
1                  Stephen King
2            Jordan B. Peterson
3                 George Orwell
4      National Geographic Kids
                 ...
545                 Jeff Kinney
546                 Jen Sincero
547                 Jen Sincero
548                 Jen Sincero
549                 Jen Sincero
Name: Author, Length: 550, dtype: object

In [8]:
df_books[['Author', 'Price']] #extraer multiples columnas

                       Author  Price
0                    JJ Smith      8
1                Stephen King     22
2          Jordan B. Peterson     15
3               George Orwell      6
4    National Geographic Kids     12
..                        ...    ...
545               Jeff Kinney      8
546               Jen Sincero      8
547               Jen Sincero      8
548               Jen Sincero      8
549               Jen Sincero      8

[550 rows x 2 columns]

Loc

In [10]:
df_books.loc[:] #slice total

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [12]:
df_books.loc[0:4, ['Author', 'Price']] #selecciÃ³n de columnas

                     Author  Price
0                  JJ Smith      8
1              Stephen King     22
2        Jordan B. Peterson     15
3             George Orwell      6
4  National Geographic Kids     12

In [15]:
df_books.loc[0:10, ['Price']] ==22 #condicionales

    Price
0   False
1    True
2   False
3   False
4   False
5   False
6   False
7   False
8   False
9   False
10  False

In [18]:
df_books.loc[0:10, ['Price']] *-1 #operaciones

    Price
0      -8
1     -22
2     -15
3      -6
4     -12
5     -11
6     -30
7     -15
8      -3
9      -8
10     -8

Iloc

In [22]:
#igual que loc, per solo con indices
df_books.iloc[:]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [25]:
df_books.iloc[0:10, 0] #el slice especificado y solo el primer atributo (columna)

0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
5        A Dance with Dragons (A Song of Ice and Fire)
6    A Game of Thrones / A Clash of Kings / A Storm...
7                       A Gentleman in Moscow: A Novel
8        A Higher Loyalty: Truth, Lies, and Leadership
9                            A Man Called Ove: A Novel
Name: Name, dtype: object

In [27]:
df_books.iloc[0:10, :3]

,Name,Author,User Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7
1,11/22/63: A Novel,Stephen King,4.6
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7
3,1984 (Signet Classics),George Orwell,4.7
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7
9,A Man Called Ove: A Novel,Fredrik Backman,4.6

In [31]:
df_books.iloc[0:10, 3] *-1 #operaciones

0   -17350
1    -2052
2   -18979
3   -21424
4    -7665
5   -12643
6   -19735
7   -19699
8    -5983
9   -23848
Name: Reviews, dtype: int64