In [30]:
import pandas as pd

In [31]:
df_books =pd.read_csv('https://raw.githubusercontent.com/sanketchavan5595/EDA-on-bestselling-books-on-Amazon-/main/bestsellers%20with%20categories.csv')
df_books.head(2) #muestra solo las dos primeras filas

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [32]:
df_books.drop('Genre', axis=1).head(2) #elimina el atributo 'Genre' en el eje de las columnas (1)

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011

In [33]:
df_books.head(2) #no se aplican los cambios

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [34]:
df_books.drop('Genre', axis=1, inplace=True) #elimina el atributo 'Genre' en el eje de las columnas (1), y lo aplica al DataFrame

In [35]:
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011

In [36]:
df_books =df_books.drop('Year', axis=1) #sinónimo

In [37]:
del df_books['Price'] #sinónimo (este método no pertenece a pandas, no se recomienda)

In [39]:
df_books.head(4)

,Name,Author,User Rating,Reviews
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350
1,11/22/63: A Novel,Stephen King,4.6,2052
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979
3,1984 (Signet Classics),George Orwell,4.7,21424

In [42]:
df_books.drop(0, axis=0).head(4) #elimina la fila (0) de indice 0

,Name,Author,User Rating,Reviews
1,11/22/63: A Novel,Stephen King,4.6,2052
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979
3,1984 (Signet Classics),George Orwell,4.7,21424
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665

In [44]:
df_books.drop([0,1,2,3], axis=0).head(4) #elimina las filas (0) de indice 0,1,2,3

,Name,Author,User Rating,Reviews
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699

In [46]:
df_books.drop(range(0,20), axis=0).head(4) #elimina las filas (0) de indices entre 0 y 20 (excluyendo el indice final)

,Name,Author,User Rating,Reviews
20,All the Light We Cannot See,Anthony Doerr,4.6,36348
21,All the Light We Cannot See,Anthony Doerr,4.6,36348
22,Allegiant,Veronica Roth,3.9,6310
23,American Sniper: The Autobiography of the Most...,Chris Kyle,4.6,15921

Agregar

In [47]:
import numpy as np

In [51]:
df_books['new_column'] =np.nan #agrega nueva columna, en este caso con un no numerico
df_books.head(4)

,Name,Author,User Rating,Reviews,new_column
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,NaN
1,11/22/63: A Novel,Stephen King,4.6,2052,NaN
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,NaN
3,1984 (Signet Classics),George Orwell,4.7,21424,NaN

In [62]:
nb_rows =df_books.shape[0] #número de filas
ran =range(0, nb_rows)
df_books['range'] =ran #insertando un rango como nuevo columna
df_books.head(10)

,Name,Author,User Rating,Reviews,new_column,range
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,NaN,4
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,NaN,5
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,NaN,6
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,NaN,7
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,NaN,8
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,NaN,9

In [63]:
df_books.shape

(550, 6)

In [68]:
df_books =df_books.append(df_books) #agregando filas, las mismas nuevamente
df_books.shape #filas duplicadas

(2200, 6)